rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{document=**} {
      allow read: if request.auth != null && request.auth.uid == resource.id
      allow create: if request.auth != null && request.auth.uid == request.resource.id
      allow update: if request.auth != null && request.auth.uid == resource.id
      allow delete: if request.auth != null && request.auth.uid == resource.id
    }

    match /particles/{document=**} {
    	allow read: if request.auth != null && (resource.data.shared || resource.data.owner_uid == request.auth.uid)
      allow create: if request.auth != null 
      	&& exists(/databases/$(database)/documents/users/$(request.auth.uid))
      	&& request.auth.uid == request.resource.data.owner_uid
      allow update: if request.auth != null && request.auth.uid == resource.data.owner_uid
      allow delete: if request.auth != null && request.auth.uid == resource.data.owner_uid
    }

    match /data/{point} {
    	allow read: if request.auth.uid != null
        && (   get(/databases/$(database)/documents/particles/$(resource.data.particle_id)).data.shared
            || request.auth.uid == get(/databases/$(database)/documents/particles/$(resource.data.particle_id)).data.owner_uid) 
      allow create: if request.resource != null && exists(/databases/$(database)/documents/particles/$(request.resource.data.particle_id))
  	}

    match /config/{document=**} {
      allow read: if false
      allow write: if false
    }
  }
}
