rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /particles/{document=**} {
    	allow read: if request.auth != null && request.auth.uid in resource.data.read_uid
      allow create: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/config/user).data.admin
      allow update: if request.auth != null && request.auth.uid in resource.data.write_uid
      allow delete: if request.auth != null && request.auth.uid == resource.data.owner_uid
    }

    match /data/{point} {
    	allow read: if
      	request.auth.uid != null &&
        request.auth.uid in get(/databases/$(database)/documents/particles/$(resource.data.particle_id)).data.read_uid
  	}

    match /config/{document=**} {
      allow read: if false
      allow write: if false
    }
  }
}
